    html,
    body {
      height: 100%;
      margin: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    #menu {
      text-align: center;
    }
