    html,
    body {
      height: 100%;
      margin: 0;
    }

    img,
    model-viewer {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 95%;
    }

    model-viewer {
      width: 100%
    }

    #menu {
      text-align: center;
    }
